/* Main Resume Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 11pt;
    line-height: 1.4;
    color: #333;
    max-width: 8.5in;
    margin: 0 auto;
    padding: 0.5in;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 0.2in;
}

h2 {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 0.15in;
    margin-bottom: 0.1in;
    border-bottom: 2px solid #333;
    padding-bottom: 0.05in;
}

h3 {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 0.1in;
}

p {
    margin-bottom: 0.1in;
}

ul {
    margin-left: 0.2in;
    margin-bottom: 0.1in;
}

li {
    margin-bottom: 0.05in;
}

@media print {
    body {
        padding: 0;
    }
}
